body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-color: #95A834;
}

#board{
    background-image: url('/Images/straight-empty-road.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 600px;
    width: 1200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#eddie{
    position: absolute; 

}

.obstacle {
    background-color: blue;
    position: absolute;
}



#gameover-page {
    background-color: #95A834;
    text-align: center;
    background-image: url('/Images/Eddie_Garage.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    color: white;
    font-size: 22px;
    
   
}

