@font-face {
    font-family: Kalam;
    src: url('../Font/KalamRegular.woff');
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-color: #95A834;
}


#board{
    height: 550px;
    width: 1100px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
}

#backgroundImage {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../Images/01straight-empty-road.jpg.webp'),
                      url('../Images/02straight-empty-road.jpg.webp'),
                      url('../Images/03straight-empty-road.jpg.webp'),
                      url('../Images/04straight-empty-road.jpg.webp');
    background-size: 100vw 100%;
    background-position: 0px, 0px;
    border: thick double #95A834;
    border-radius: 30px;
    animation: moveBackground 80s linear infinite paused;
}

@keyframes moveBackground {
    100% {
        background-position: 400vw 0px,
                             300vw 0px,
                             200vw 0px,
                             100vw 0px;
    }
}

#eddie_on_tour {
    text-align: center;
    color: white;
    font-family: 'Kalam', sans-serif; 
    font-size: 50px;
    margin-top: 10px;
}

#startButton {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    padding: 10px 20px;
    color: white;
    background-color: #95A83495;
    border: thick double #95A834;
    border-radius: 30px;
    font-family: 'Kalam', sans-serif; 
}


@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


#startButton:hover {
    background-color: #cbf015;
    cursor: pointer;
    animation: blink 1s infinite;
}


#instruction {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #95A83495;
    border: thick double #95A834;
    border-radius: 30px;
    font-family: 'Kalam', sans-serif; 
    text-align: center;
}

#instruction img {
    display: inline-block;
    margin: 0 10px;
 
}

#eddie{
    position: absolute; 
    left: 15px;
    bottom: 20px;
}


.obstacle {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.treasure {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.timer {
    background-image: url('../Images/Eddie_score.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: 25px;
    position: fixed;
}

.timerDisplay {
    text-align: center;
    padding: 40px;
}


.score {
    background-image: url('../Images/Eddie_score.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 25px;
    position: fixed;
    
}
.scoreDisplay {
    text-align: center;
    padding: 40px;
}




/* gameover.htlm */

#gameover-page {
    display: flex;
    background-color: #95A834;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
 
}

#left-image {
    flex: 1;
    height: 100%;
    background-image: url('../Images/Eddie_Garage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
}

#right-image {
    flex: 1;
    height: 100%;
    background-image: url('../Images/Eddie_garage_Top.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
}

#text-container {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 20px;
}



/* endgamescore.htlm */

#end-score-page {
    background-color: #95A834;
    background-image: url('../Images/Eddie_landscape.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



#finalScore {
    font-size: 50px;
    margin-top: 200px;
    background-color: #95A83499;
    border: thick double #95A834;
    border-radius: 30px;
    padding: 15px;
    font-family: 'Kalam', sans-serif; 
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 280px;
    
}

#score-play-again {
    text-align: center;
    color: white; 
    font-size: 23px;
    border: thick double #95A834;
    border-radius: 30px;
    padding: 10px;
    display: inline-block; 
    background-color: #95A83490;
    font-family: 'Kalam', sans-serif; 
    margin-right: 850px;
    
}