body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-color: #95A834;
}

#board{
    background-image: url('./Images/straight-empty-road.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 550px;
    width: 1100px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#eddie{
    position: absolute; 

}



.obstacle {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.treasure {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.timer {
    background-image: url('./Images/Eddie_score.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: 25px;
    position: fixed;
}

.timerDisplay {
    text-align: center;
    padding: 40px;
}


.score {
    background-image: url('./Images/Eddie_score.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 25px;
    position: fixed;
    
}
.scoreDisplay {
    text-align: center;
    padding: 40px;
}


#Eddie-on-Tour {
    text-align: center;
    color: white;
    

}



#gameover-page {
    display: flex;
    background-color: #95A834;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
 
}


#left-image {
    flex: 1;
    height: 100%;
    background-image: url('./Images/Eddie_Garage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
}

#right-image {
    flex: 1;
    height: 100%;
    background-image: url('./Images/Eddie_garage_Top.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
}

#text-container {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 20px;
}




#end-score-page {
    background-color: #95A834;
    background-image: url('./Images/Eddie_landscape.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  
}

#end-score {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 150px;
}

#score-play-again {
    text-align: center;
    color: white; 
    font-size: 20px;
    margin-top: 450px;
    margin-bottom: 400px;
    margin-left: 100px;
    margin-right: 800px;
    border: thick double #95A834;
    border-radius: 30px;
    border-style: inset;
}